# Comments start with #

# Ignore specific file
passwords.txt
README.md


# Ignore all files with extension
*.log
*.tmp
*.env

# Ignore entire folder
node_modules/
build/
venv

# Ignore files in any directory
**/*.pyc

# But don't ignore this specific file (exception)
!important.log

# Ignore files only in root directory
/debug.log

# Ignore files in specific directory
logs/*.txt